{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="card">
    <div class="card-header">
        Table of Government Bonds:
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-4">
                <a href="{% url 'add_govt_bond' %}" class="btn btn-primary">Add New Government Bond</a>
            </div>
            <div class="col-md-8 text-end">
                <a href="{% url 'download_model_csv' 'governmentbondprimary' %}" class="btn btn-success">Download CSV</a>
            
                <a href="{% url 'download_model_excel' 'governmentbondprimary' %}" class="btn btn-success">Download Excel</a>
            </div>
        </div>
        <table class="table table-striped table-bordered table-sm table-hover caption-top">
            <thead class="table-light text-muted">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bond ID</th>
                <th scope="col">Start Date</th>
                <th scope="col">Maturity Date</th>
                <th scope="col">Principal Amount</th>
                <th scope="col">Maturity Amount</th>
                <th scope="col">Currency</th>
                <th scope="col">Coupon Rate %</th>
                <th scope="col">Bond Rating</th>
                <th scope="col">Counterparty</th>
                <th scope="col">Manager</th>                
            </tr>
            </thead>
            <tbody>
                {% if page_obj %}
                    {% for bond in page_obj %}
                        <tr>
                            <td>{{ bond.id }}</td>
                            <td>{{ bond.bond_id }}</td>
                            <td>{{ bond.start_date }}</td>
                            <td>{{ bond.maturity_date }}</td>
                            <td>{{ bond.principal_amount|intcomma }}</td> 
                            <td>{{ bond.maturity_amount|intcomma }}</td>  
                            <td>{{ bond.currency }}</td>
                            <td>{{ bond.coupon_rate }}</td>
                            <td>{{ bond.bond_rating }}</td>
                            <td>{{ bond.get_counterparty_display }}</td>
                            <td>{{ bond.get_manager_full_name }}</td>  
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="11">No bonds available.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo; first</span></li>
                    <li class="page-item disabled"><span class="page-link">previous</span></li>
                {% endif %}
                <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">next</span></li>
                    <li class="page-item disabled"><span class="page-link">last &raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div><br>
<a href="{% url 'home' %}" class="btn btn-primary">Home <</a>
{% endblock %}
